.navbar-brand{
    font-size: 25px;
    margin-left: 2%;
}
.foot{
    margin-bottom: 0px;
}
.regblock{
    margin-bottom: 0px;
}
p{
    margin-bottom: 0px;
}
h1{
    text-align: center;
}
form{
    padding-left: 20%;
    padding-right: 20%;
}
.site-header{
    margin-top: 1rem;
    margin-bottom: 1rem;
}