<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">PC-hub</a>
        {% if current_user.is_authenticated %}
        <div style="display: flex; align-items: center;">
          <nobr>
          <a href="/add_configuration" class="btn btn-secondary" style="margin-right: 0.5rem;">Добавить конфигурцию</a>
          </nobr>
          <a class="navbar-brand" href="/logout">{{ current_user.username }}</a>
        </div>
        {% else %}
        <p class="regblock">
          <a class="btn btn-primary" href="/register">Зарегистрироваться</a>
          <a class="btn btn-success" href="/login">Войти</a>
        </p>
{% endif %}
    </nav>
</header>
    <!-- Main body-->
    <main role="main" class="container", style="margin-bottom: 5rem;">
      {% block content %}{% endblock %}
    </main>

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top fixed-bottom foot", style="position: fixed; background-color: white;">
    <p class="col-md-4 mb-0 text-muted">© 2024 Fun made project</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
    </footer>
</body>
</html>