<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:regular, 500,600,700,900" rel="stylesheet"/>
        <link rel="stylesheet" href="../static/css/style.css">
        <title>PcHub</title>
    </head>
    <body>
        <div class="wrapper">
            <header class="header">
                <div class="header__container _container">
                    <a href="" class="header__logo">
                        PcHub
                    </a>
                    <nav class="header__menu menu">
                        <ul class="menu__list">
                                {% if current_user.is_authenticated %}
                                <li class="menu__item" style="margin-left: 5rem;">
                                    <a class="menu__link" href="/profile">Профиль</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="/logout">Выход</a>
                                </li>
                                {% else %}
                                <li class="menu__item" style="margin-left: 5rem;">
                                    <a class="menu__link" href="/register">Зарегистрироваться</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="/login">Войти</a>
                                </li>
                                {% endif %}
                            <li class="menu__item">
                                <a href="#link" class="menu__link"><span>Конфигурации</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
            <main class="page">
                <div class="page__main-block main-block">
                    <div class="main-block__container _container">
                        <div class="main-block__body">
                            <h1 class="main-block__title">Не трать время на подбор комплектующих!</h1>
                            <div class="main-block__text">
                                Мы знаем, что такое подбирать конфигурацию и мучиться в сомнениях.
                            </div>
                            <div class="main-block__buttons">
                                <a href="/#link" class='main-block__button'>Выбрать конфиг</a>
                                <a href="https://t.me/qqqqqqq125" class="main-block__button main-block__button_border">Связаться</a>
                            </div>
                        </div>
                    </div>
                    <div class="main-block__image _ibg">
                        <img src="static/img/phon.jpg" alt="cover">
                    </div>
                </div>
                <section class="page__services services">
                    <div class="services__conrainer _container">
                        <div class="services__body">
                            <div class="services__column">
                                <div class="services__item item-service" style="min-height: 278.2px;">
                                    <div class="item-service__icon"><img src="static/img/time.svg"></div>
                                    <h3 class="item-service__title">Сэкономь время</h3>
                                    <div class="item-service__text">Не нужно тратить время на подбор, просмотр видeo популярных ютуберов, сравнение и аналитику цен на комплектующие.</div>
                                </div>
                            </div>
                            <div class="services__column">
                                <div class="services__item item-service" style="min-height: 278.2px;">
                                    <div class="item-service__icon"><img src="static/img/rub.svg"></div>
                                    <h3 class="item-service__title">Экономия денег</h3>
                                    <div class="item-service__text">Больше не нужно обращаться к профессионалам и "специалистам" из магазина на 3 буквы.</div>
                                </div>
                            </div>
                            <div class="services__column">
                                <div class="services__item item-service" style="min-height: 278.2px;">
                                    <div class="item-service__icon"><img src="static/img/fire.svg"></div>
                                    <h3 class="item-service__title">Идеальные сборки</h3>
                                    <div class="item-service__text">Максимальная производительность в играх и рабочих задачах за их цену</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section section-catalog">
                    <div id="link">
                        <div class="container">
                        <header class="section__header">
                            <h2 class="section__title">Конфигурации</h2>
                        </header>
                        <div class="catalog">
                            <div class="catalog__item">
                                <div class="product">
                                    <img src="/static/img/sborka5.jpg" alt="" class="product__img">
                                    <div class="product__content">
                                        <h3 class="product__title">Бюджетка</h3>
                                        <p class="product_description">Бюджетная сбалансированная сборка для игры и работы</p>
                                    </div>
                                    <footer class="product__footer">
                                        <div class="product__bottom">
                                            <div class="product__price">
                                                <span class="product__price-value">59000₽</span>
                                            </div>
                                            <a href="show/5" class="btn product__btn" >Подробнее</a>
                                        </div>
                                    </footer>
                                </div>
                                <div class="product">
                                    <img src="/static/img/sborka1.jpg" alt="" class="product__img">
                                    <div class="product__content">
                                        <h3 class="product__title">Бюджетный баланс</h3>
                                        <p class="product_description">Сбалансированная сборка для игры в FullHd и работы</p>
                                    </div>
                                    <footer class="product__footer">
                                        <div class="product__bottom">
                                            <div class="product__price">
                                                <span class="product__price-value">77000₽</span>
                                            </div>
                                            <a href="show/1" class="btn product__btn" >Подробнее</a>
                                        </div>
                                    </footer>
                                </div>
                                <div class="product">
                                    <img src="/static/img/sborka2.jpg" alt="" class="product__img">
                                    <div class="product__content">
                                        <h3 class="product__title">Золотая середина</h3>
                                        <p class="product_description">Уверенная сборка для игр в 2k и работы</p>
                                    </div>
                                    <footer class="product__footer">
                                        <div class="product__bottom">
                                            <div class="product__price">
                                                <span class="product__price-value">130000₽</span>
                                            </div>
                                            <a href="show/2" class="btn product__btn">Подробнее</a>
                                        </div>
                                    </footer>
                                </div>
                            </div>
                        </div>
                        <div class="catalog">
                            <div class="catalog__item">
                                <div class="product">
                                    <img src="/static/img/sborka3.jpg" alt="" class="product__img">
                                    <div class="product__content">
                                        <h3 class="product__title">Самый сок</h3>
                                        <p class="product_description">Мощнейшая сборка для игр в 4k и работы</p>
                                    </div>
                                    <footer class="product__footer">
                                        <div class="product__bottom">
                                            <div class="product__price">
                                                <span class="product__price-value">230000₽</span>
                                            </div>
                                            <a href="show/3" class="btn product__btn" >Подробнее</a>
                                        </div>
                                    </footer>
                                </div>
                                <div class="product">
                                    <img src="/static/img/sborka4.jpg" alt="" class="product__img">
                                    <div class="product__content">
                                        <h3 class="product__title">Work station</h3>
                                        <p class="product_description">Мощная рабочая станция для тяжелых рабочих задач</p>
                                    </div>
                                    <footer class="product__footer">
                                        <div class="product__bottom">
                                            <div class="product__price">
                                                <span class="product__price-value">405000₽</span>
                                            </div>
                                            <a href="show/4" class="btn product__btn" >Подробнее</a>
                                        </div>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </section>
            </main>
            <footer>
                <div class="footer-content">
                    <h2 class="zag">Напишите нам!</h2>
                    <p class="text">Хотите заказать, изменить сборку, уточнить что-то?</p>
                    <p class="zag"><a class="links" href="https://t.me/qqqqqqq125">Telegram</a></p>
                <div class="footer-bottom">
                    <p class="bott">copyright &copy;2024 pcHub. created by <a class="links" href="https://github.com/whoiam143">whoiam</a> and <a class="links" href="https://github.com/zetistheself">zetistheself </a></p>
                </div>
                </div>
            </footer>
        </div>
    </body>
</html>