<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PC-hub</title>
    <link rel="stylesheet" href="../static/css/login-reg.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:regular, 500,600,700,900" rel="stylesheet"/>
    </head>

    <body>
        <header class="header">
            <header class="header">
                <div class="header__container _container">
                    <a href="/" class="header__logo">
                        PcHub
                    </a>
                    <nav class="header__menu menu">
                        <ul class="menu__list">
                            <li class="menu__item">
                                <a href="/register" class="menu__link">Зарегистрироваться</a>
                            </li>
                            <li class="menu__item">
                                <a href="" class="menu__link">Конфигурации</a>
                            </li>
                            <li class="menu__item">
                                <a href="" class="menu__link">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
        </header>
        <main class="main">
            <div class="wrapper">
                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                        <h1>Вход</h1>
                        <div class="input-box">
                            {{ form.email(class="form-control", type="email") }}<br>
                            {% for error in form.email.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="input-box">
                            {{ form.password(class="form-control", type="password") }}<br>
                            {% for error in form.password.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>

                        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
                        <div>{{ message }}</div>

                        <div class="register-link">
                            <p>Ещё не зарегистирированы?</p>
                            <a href="/register">Зарегистирироваться</a>
                        </div>
                    </form>
            </div>
        </main>
    </body>
</html>
