<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:regular, 500,600,700,900" rel="stylesheet"/>
        <link rel="stylesheet" href="../static/css/profile.css">
        <title>PcHub</title>
    </head>
    <body>
        <div class="mainpage">
            <header class="header">
                <div class="header__container _container">
                    <a href="/" class="header__logo"><-Назад</a>
                    <nav class="header__menu menu">
                        <ul class="menu__list">
                            <li class="menu__item">
                                <a class="menu__link" href="/add_configuration">Добавить конфигурацию</a>
                            </li>
                            <li class="menu__item" style="margin-left: 5rem;">
                                <p class="menu__link">{{ current_user.username }}</p>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
        </div>
    </body>
</html>