<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:regular, 500,600,700,900" rel="stylesheet"/>
        <link rel="stylesheet" href="../static/css/profile.css">
        <title>PcHub</title>
    </head>
    <body>
        <div class="mainpage">
            <header class="header">
                <div class="header__container _container">
                    <a href="/" class="header__logo"><-Назад</a>
                    <nav class="header__menu menu">
                        <ul class="menu__list">
                            <li class="menu__item">
                                <a class="menu__link" href="/add_configuration" style="font-size: 18px;">Добавить конфигурацию</a>
                            </li>
                            <li class="menu__item" style="margin-left: 5rem; font-size: 25px;">
                                <p class="menu__link">{{ current_user.username }}</p>
                            </li>
                        </ul>
                    </nav>
                </div>
                <h1 class="cap">Ваши сборки</h1>
                <div class="configs">
                    <div class="catalog">
                            <div class="catalog__item">
                                {% if configs[0]%}
                                    <a class="btn product__btn" href="/show/{{ configs[0].id }}">{{ configs[0].name }}</a>
                                {% else %}
                                    <a class="btn product__btn" href="/add_configuration">Сборка №1</a>
                                {% endif %}
                                {% if configs[1]%}
                                    <a class="btn product__btn" href="/show/{{ configs[1].id }}">{{ configs[1].name }}</a>
                                {% else %}
                                    <a class="btn product__btn" href="/add_configuration">Сборка №2</a>
                                {% endif %}
                                {% if configs[2]%}
                                    <a class="btn product__btn" href="/show/{{ configs[2].id }}">{{ configs[2].name }}</a>
                                {% else %}
                                    <a class="btn product__btn" href="/add_configuration">Сборка №3</a>
                                {% endif %}
                                {% if configs[3]%}
                                    <a class="btn product__btn" href="/show/{{ configs[3].id }}">{{ configs[3].name }}</a>
                                {% else %}
                                    <a class="btn product__btn" href="/add_configuration">Сборка №4</a>
                                {% endif %}
                                {% if configs[4]%}
                                    <a class="btn product__btn" href="/show/{{ configs[4].id }}">{{ configs[4].name }}</a>
                                {% else %}
                                    <a class="btn product__btn" href="/add_configuration">Сборка №5</a>
                                {% endif %}
                            </div>
                    </div>
                    <div class="catalog">
                            <div class="catalog__item">
                                {% if configs[5] %}
                                    <a class="btn product__btn" href="/show/{{ configs[5].id }}">{{ configs[5].name }}</a>
                                {% else %}
                                    <a class="btn product__btn" href="/add_configuration">Сборка №6</a>
                                {% endif %}
                                {% if configs[6]%}
                                    <a class="btn product__btn" href="/show/{{ configs[6].id }}">{{ configs[6].name }}</a>
                                {% else %}
                                    <a class="btn product__btn" href="/add_configuration">Сборка №7</a>
                                {% endif %}
                                {% if configs[7]%}
                                    <a class="btn product__btn" href="/show/{{ configs[7].id }}">{{ configs[7].name }}</a>
                                {% else %}
                                    <a class="btn product__btn" href="/add_configuration">Сборка №8</a>
                                {% endif %}
                                {% if configs[8]%}
                                    <a class="btn product__btn" href="/show/{{ configs[8].id }}">{{ configs[8].name }}</a>
                                {% else %}
                                    <a class="btn product__btn" href="/add_configuration">Сборка №9</a>
                                {% endif %}
                                {% if configs[9]%}
                                    <a class="btn product__btn" href="/show/{{ configs[9].id }}">{{ configs[9].name }}</a>
                                {% else %}
                                    <a class="btn product__btn" href="/add_configuration">Сборка №10</a>
                                {% endif %}
                            </div>
                    </div>
                </div>
            </header>
        </div>
    </body>
</html>