<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:regular, 500,600,700,900" rel="stylesheet"/>
        <link rel="stylesheet" href="../static/css/profile.css">
        <title>PcHub</title>
    </head>
    <body>
        <div class="mainpage">
            <header class="header">
                <div class="header__container _container">
                    <a href="/" class="header__logo"><-Назад</a>
                    <nav class="header__menu menu">
                        <ul class="menu__list">
                            <li class="menu__item">
                                <a class="menu__link" href="/add_configuration" style="font-size: 18px;">Добавить конфигурацию</a>
                            </li>
                            <li class="menu__item" style="margin-left: 5rem; font-size: 25px;">
                                <p class="menu__link">{{ current_user.username }}</p>
                            </li>
                        </ul>
                    </nav>
                </div>
                <h1 class="cap">Ваши сборки</h1>
                <div class="configs">
                    <div class="catalog">
                            <div class="catalog__item">
                                <a class="btn product__btn" href="">Сборка №1</a>
                                <a class="btn product__btn" href="">Сборка №2</a>
                                <a class="btn product__btn" href="">Сборка №3</a>
                                <a class="btn product__btn" href="">Сборка №4</a>
                                <a class="btn product__btn" href="">Сборка №5</a>
                            </div>
                    </div>
                    <div class="catalog">
                            <div class="catalog__item">
                                <a class="btn product__btn" href="">Сборка №6</a>
                                <a class="btn product__btn" href="">Сборка №7</a>
                                <a class="btn product__btn" href="">Сборка №8</a>
                                <a class="btn product__btn" href="">Сборка №9</a>
                                <a class="btn product__btn" href="">Сборка №10</a>
                            </div>
                    </div>
                </div>
            </header>
        </div>
    </body>
</html>