<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PC-hub</title>
    <link rel="stylesheet" href="../static/css/login-reg.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:regular, 500,600,700,900" rel="stylesheet"/>
    </head>

    <body>
        <header class="header">
            <header class="header">
                <div class="header__container _container">
                    <a href="" class="header__logo">
                        PcHub
                    </a>
                    <nav class="header__menu menu">
                        <ul class="menu__list">
                            <li class="menu__item">
                                <a href="" class="menu__link">Войти</a>
                            </li>
                            <li class="menu__item">
                                <a href="" class="menu__link">Конфигурации</a>
                            </li>
                            <li class="menu__item">
                                <a href="" class="menu__link">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
        </header>
        <main class="main">
            <div class="wrapper">
                    <form action="">
                        <h1>Регистрация</h1>
                        <div class="input-box">
                            <input type="text" placeholder="Имя" required>
                        </div>
                        <div class="input-box">
                            <input type="email" placeholder="Почта" required>
                        </div>
                        <div class="input-box">
                            <input type="email" placeholder="Повторите почту" required>
                        </div>
                        <div class="input-box">
                            <input type="password" placeholder="Пароль" required>
                        </div>

                        <button type="submit" class="btn">Зарегистрироваться</button>
                    </form>
            </div>
        </main>
    </body>
</html>