<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PC-hub</title>
    <link rel="stylesheet" href="../static/css/login-reg.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:regular, 500,600,700,900" rel="stylesheet"/>
    </head>

    <body>
        <header class="header">
            <header class="header">
                <div class="header__container _container">
                    <a href="/" class="header__logo">
                        PcHub
                    </a>
                    <nav class="header__menu menu">
                        <ul class="menu__list">
                            <li class="menu__item">
                                <a href="/login" class="menu__link">Войти</a>
                            </li>
                            <li class="menu__item">
                                <a href="/#link" class="menu__link">Конфигурации</a>
                            </li>
                            <li class="menu__item">
                                <a href="" class="menu__link">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
        </header>
        <main class="main">
            <div class="wrapper">
                    <form action=""  method="post">
                        {{ form.hidden_tag() }}
                        <h1>Регистрация</h1>
                        <div class="input-box">
                            {{ form.username(class="form-control") }}<br>
                            {% for error in form.username.errors %}
                                <p class="alert alert-danger" role="alert">
                                    {{ error }}
                                </p>
                            {% endfor %}
                        </div>
                        <div class="form-control input-box">
                            {{ form.email(class="form-control") }}<br>
                            {% for error in form.email.errors %}
                                <p class="alert alert-danger" role="alert">
                                    {{ error }}
                                </p>
                            {% endfor %}
                        </div>
                        <div class="input-box form-control">
                            {{ form.password(class="form-control") }}<br>
                            {% for error in form.password.errors %}
                                <p class="alert alert-danger" role="alert">
                                    {{ error }}
                                </p>
                            {% endfor %}
                        </div>
                        <div class="input-box form-control">
                            {{ form.password_again(class="form-control") }}<br>
                            {% for error in form.password_again.errors %}
                                <p class="alert alert-danger" role="alert">
                                    {{ error }}
                                </p>
                            {% endfor %}
                        </div>
                        {{ form.submit(type="submit", class="btn btn-primary") }}
                        {{message}}
                    </form>
            </div>
        </main>
    </body>
</html>