<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:regular, 500,600,700,900" rel="stylesheet"/>
        <link rel="stylesheet" href="../static/css/config.css">
        <title>PcHub</title>
    </head>
    <body>
        <div class="mainpage">
            <main>
                <a href="/" class="header__logo"><- Назад</a>
                <header>
                    <h1 class="cap">{{ config.name }}</h1>
                    <p class="koment">{{ config.about }}</p>
                </header>
                <table border="2">
                    <tr>
                        <td>Процессор</td>
                        <td class="naming">{{ config.cpu }}</td>
                        <td><a href="{{ config.cpu_link }}">Ссылка</a></td>
                        <td>{{ config.cpu_price }}</td>
                    </tr>
                    <tr>
                        <td>Материнская плата</td>
                        <td class="naming">{{ config.motherboard }}</td>
                        <td><a href="{{ config.motherboard_link }}">Ссылка</a></td>
                        <td>{{ config.motherboard_price }}</td>
                    </tr>
                    <tr>
                        <td>Оперативная память</td>
                        <td class="naming">{{ config.ram }}</td>
                        <td><a href="{{ config.ram_link }}">Ссылка</a></td>
                        <td>{{ config.ram_price }}</td>
                    </tr>
                    <tr>
                        <td>Видеокарта</td>
                        <td class="naming">{{ config.gpu }}</td>
                        <td><a href="{{ config.gpu_link }}">Ссылка</a></td>
                        <td>{{ config.gpu_price}}</td>
                    </tr>
                    <tr>
                        <td>Накопитель</td>
                        <td class="naming">{{ config.ssd }}</td>
                        <td><a href="{{ config.ssd_link }}">Ссылка</a></td>
                        <td>{{ config.ssd_price }}</td>
                    </tr>
                    <tr>
                        <td>Охлаждение</td>
                        <td class="naming">{{ config.cooler }}</td>
                        <td><a href="{{ config.cooler_link }}">Сслыка</a></td>
                        <td>{{ config.cooler_price}}</td>
                    </tr>
                    <tr>
                        <td>Блок питания</td>
                        <td class="naming">{{ config.power }}</td>
                        <td><a href="{{ config.power_link }}">Ссылка</a></td>
                        <td>{{ config.power_price }}</td>
                    </tr>
                    <tr>
                        <td>Корпус</td>
                        <td class="naming">{{ config.frame }}</td>
                        <td><a href="{{ config.frame_link }}">Ссылка</a></td>
                        <td>{{ config.frame_price }}</td>
                    </tr>
                    <tr>
                        <td colspan="3">Итого</td>
                        <td>{{ config.total_price }}</td>
                    </tr>
                </table>
            </main>
        </div>
    </body>
</html>