<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:regular, 500,600,700,900" rel="stylesheet"/>
        <link rel="stylesheet" href="../static/css/config.css">
        <title>PcHub</title>
    </head>
    <body>
        <div class="mainpage">
            <main>
                <header>
                    <h1 class="cap">Название сборки, добавлю сам</h1>
                    <a href="/" class="header__logo"><- Назад</a>
                    <p class="koment">что-то о сборке, добавлю сам</p>
                </header>
                <table border="2">
                    <tr>
                        <td>Процессор</td>
                        <td class="naming">...название</td>
                        <td><a href="">Сслыка</a></td>
                        <td>...цена</td>
                    </tr>
                    <tr>
                        <td>Материнская плата</td>
                        <td class="naming">...название</td>
                        <td><a href="">Сслыка</a></td>
                        <td>...цена</td>
                    </tr>
                    <tr>
                        <td>Оперативная память</td>
                        <td class="naming">...название</td>
                        <td><a href="">Сслыка</a></td>
                        <td>...цена</td>
                    </tr>
                    <tr>
                        <td>Видеокарта</td>
                        <td class="naming">...название</td>
                        <td><a href="">Сслыка</a></td>
                        <td>цена</td>
                    </tr>
                    <tr>
                        <td>Накопитель</td>
                        <td class="naming">...название</td>>
                        <td><a href="">Сслыка</a></td>
                        <td>...цена</td>
                    </tr>
                    <tr>
                        <td>Охлаждение</td>
                        <td class="naming">...название</td>
                        <td><a href="">Сслыка</a></td>
                        <td>цена</td>
                    </tr>
                    <tr>
                        <td>Блок питания</td>
                        <td class="naming">...название</td>
                        <td><a href="">Сслыка</a></td>
                        <td>...цена</td>
                    </tr>
                    <tr>
                        <td>Корпус</td>
                        <td class="naming">...название</td>
                        <td><a href="">Сслыка</a></td>
                        <td>...цена</td>
                    </tr>
                    <tr>
                        <td colspan="3">Итого</td>
                        <td>...Итоговая цена</td>
                    </tr>
                </table>
            </main>
        </div>
    </body>
</html>